img{
    height: 100px;
}

a{
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
    background-color: #13434d;
}
h6{
    font-family: "Locida Console", "Courier New", monospace;
    color: yellow;
    background-color: #13434d;
}
input{
    font-family: "Locida Console", "Courier New", monospace;
    color: green;
    background-color: #13434d;
}
.row{
    display: block;
}